# CityBikes

Send a request to CityBikes for the city of your choice.

In [92]:
import requests
import pandas as pd
URL = "http://api.citybik.es/v2/networks/"
city = "bicincitta-assemini"
# sending get request and saving the response as response object

r = requests.get(url = URL+city)
 
# extracting data in json format
data = r.json()

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [146]:
#Available bikes in specific stations

for stations in data["network"]["stations"]:
    print("Free Bikes " + str(stations["free_bikes"]) + " at lat: " + str(stations["latitude"]) + " and long: " + str(stations["longitude"]))

Free Bikes 4 at lat: 39.29602074930409 and long: 9.00176112289273
Free Bikes 5 at lat: 39.25848012292418 and long: 9.153467416763307
Free Bikes 0 at lat: 39.2873253 and long: 9.0048934
Free Bikes 5 at lat: 39.2591664 and long: 9.137640384205659
Free Bikes 0 at lat: 39.25413941022602 and long: 9.132728576660158
Free Bikes 3 at lat: 39.270203 and long: 9.0490639
Free Bikes 0 at lat: 39.28778639756511 and long: 8.997802734375002
Free Bikes 1 at lat: 39.28945545215369 and long: 9.006498456001284
Free Bikes 3 at lat: 39.294014010485164 and long: 8.990276455879213
Free Bikes 6 at lat: 39.254039716059765 and long: 9.16515111923218
Free Bikes 4 at lat: 39.2648967 and long: 9.0457391

'Assemini'

Put your parsed results into a DataFrame.

In [152]:
stations_data = []
for station in data["network"]["stations"]:
    station_info = {
        "City": data["network"]["location"]["city"],
        "Free Bikes": station["free_bikes"],
        "Latitude": station["latitude"],
        "Longitude": station["longitude"]
    }
    stations_data.append(station_info)
stations_data
# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(stations_data)

# Display the DataFrame
df

        City  Free Bikes   Latitude  Longitude
0   Assemini           4  39.296021   9.001761
1   Assemini           5  39.258480   9.153467
2   Assemini           0  39.287325   9.004893
3   Assemini           5  39.259166   9.137640
4   Assemini           0  39.254139   9.132729
5   Assemini           3  39.270203   9.049064
6   Assemini           0  39.287786   8.997803
7   Assemini           1  39.289455   9.006498
8   Assemini           3  39.294014   8.990276
9   Assemini           6  39.254040   9.165151
10  Assemini           4  39.264897   9.045739